.section {
	margin : 42px 0;
	@media screen and (min-width: $break-table) {
		margin : 62px 0;
	}
	@media screen and (min-width: $break-desktop) {
		margin : 105px 0;
	}
}

.section__title {
	font-style     : normal;
	font-weight    : normal;
	font-size      : 16px;
	line-height    : 134.7%;
	letter-spacing : 0.1em;
	color          : #466562;
	margin-bottom  : 45px;
	@media screen and (min-width: $break-table) {
		margin-bottom  : 54px;
	}
	@media screen and (min-width: $break-desktop) {
		margin-bottom  : 74px;
	}
}