<div class="banner-big section-offset">
	<div class="container">
		<div class="banner-big__wrapper">
			<div class="banner-big__main">
				<h2 class="banner-big__title">
					Наслаждайтесь отдыхом и комфортом вместе с Relax
				</h2>
				<div class="banner-big__text">
					<p>
						Наши замечательные кровати созданы для обеспечения максимального комфорта, поддержки и
						расслабления вашего тела во время сна
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
