{% set reviews = [
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
] %}
{% set companyReviews = [
	{
		'icon':'images/home/home-reviews/2gis.svg',
		'name':'2GIS',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/yandex.svg',
		'name':'Яндекс',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/avito.svg',
		'name':'Avito',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/ozon.svg',
		'name':'Ozon.ru',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/otzovik.svg',
		'name':'Отзовик',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/zoon.svg',
		'name':'Zoon',
		'rating':'5,0',
	},

] %}

<div class="reviews section-offset">
	<div class="container">
		<h2 class="section-title reviews__title">Отзывы</h2>
		<div class="reviews__main">
			<div class="reviews__left">
				<div class="reviews__counter">
					>
					<div class="reviews__count number" data-goal="24" data-speed="10" data-step="0.3">
						0
					</div>
					&nbsp;000
				</div>
				<div class="reviews__text">
					<p>
						Довольных покупателей на разных площадках
					</p>
				</div>
			</div>
			<div class="reviews__right">
				{% include '../../components/company-reviews.twig' with {
					companyReviews:companyReviews
				} only %}
			</div>
		</div>
		<div class="reviews__grid">
			{% for item in reviews %}
				<div class="reviews__item">
					{% include '../../components/video-reviews-card.twig' with {
						item:item,
						class:'video-reviews--page'
					} only %}
				</div>
			{% endfor %}
		</div>
		{% include '../../components/pagination.twig' with {
			pagination:[
				{
					'pag':'1'
				},
				{
					'pag':'2'
				},
				{
					'pag':'3'
				},
				{
					'pag':'4'
				},
				{
					'pag':'5'
				},
			]
		} only %}
	</div>
</div>
