<!-- cookie warning -->
<div class="cookie-panel">
	<div class="wrapper-big">
		<div class="cookie-panel__main">
			<div class="cookie-panel__title">
				Здесь у нас есть куки ...
			</div>
			<div class="cookie-panel__text">
				Мы используем файлы cookie, чтобы вам было удобнее работать в Интернете. Используя наш веб-сайт, вы соглашаетесь на использование файлов cookie в соответствии с нашей Политикой конфиденциальности.
			</div>
		</div>
		<div class="cookie-panel__bottom">
			<button type="button" class="b-btn white outline">
				Согласен
			</button>
		</div>
	</div>
</div>