<!-- Lang -->
<div class="lang-panel" data-dropdown="wrapper">
	<button class="lang-panel__link" type="button" data-dropdown="button">
		<span>Русский</span>
		<i class="icon-drop" aria-hidden="true"></i>
	</button>
	<div class="lang-panel__dropdown" data-lang="wrapper">
		<ul>
			<li class="active">
				<a href="#">
					Русский
				</a>
			</li>
			<li>
				<a href="#">
					Suomi
				</a>
			</li>
			<li>
				<a href="#">
					Norsk
				</a>
			</li>
			<li>
				<a href="#">
					Deutsch
				</a>
			</li>
			<li>
				<a href="#">
					Español
				</a>
			</li>
			<li>
				<a href="#">
					Português
				</a>
			</li>
			<li>
				<a href="#">
					English
				</a>
			</li>
			<li>
				<a href="#">
					Français
				</a>
			</li>
		</ul>
	</div>
</div>
