<div class="s-block">
	<a href="#" class="s-block__link" target="_blank" rel="noopener nofollow">
		<img src="images/icon/tg.svg" width="48" height="48" alt="">
	</a>
	<a href="#" class="s-block__link" target="_blank" rel="noopener nofollow">
		<img src="images/icon/wa.svg" width="48" height="48" alt="">
	</a>
	<a href="#" class="s-block__link" target="_blank" rel="noopener nofollow">
		<img src="images/icon/viber.svg" width="48" height="48" alt="">
	</a>
</div>
