@use "sass:math";

// Retina image
@mixin image-2x() {
	@media (min--moz-device-pixel-ratio : 1.5),
	(-webkit-min-device-pixel-ratio : 1.5),
	(min-device-pixel-ratio : 1.5),
	(min-resolution : 1.5dppx) {
		@content;
	}
}

@mixin hide-text() {
	color       : transparent;
	font        : 0/0 a;
	text-shadow : none;
}

@mixin hide-seo() {
	border      : 0;
	clip        : rect(0 0 0 0);
	clip-path   : polygon(0px 0px, 0px 0px, 0px 0px);
	height      : 1px;
	margin      : -1px;
	overflow    : hidden;
	padding     : 0;
	position    : absolute;
	width       : 1px;
	white-space : nowrap;
}

$flexbox-grid-mixins-grid-type  : margin-offset !default;
$flexbox-grid-mixins-box-sizing : border-box !default;
$flexbox-grid-mixins-stack      : margin-bottom !default;

@mixin grid-col($col: null, $grid-columns: 12, $col-offset: null, $gutter: null, $align-self: null, $flex-grow: 0, $flex-shrink: 1, $flex-basis: auto, $order: null, $shorthand: true, $last-child: false, $width: true, $max-width: null, $min-width: null, $height: null, $max-height: null, $min-height: null) {
	@if type-of($col) == number and unitless($col) == true {
		$flex-shrink : 0;
		$flex-basis  : percentage(math.div($col, $grid-columns));

		@if $flexbox-grid-mixins-grid-type == skeleton {
			@if $gutter and unit($gutter) == "%" {
				$flex-basis : $flex-basis - $gutter;
			} @else if $gutter and unitless($gutter) == false {
				$flex-basis : calc(#{$flex-basis} - #{$gutter});
			}

		} @else if $flexbox-grid-mixins-grid-type == margin-offset {
			@if $gutter and unit($gutter) == "%" {
				$flex-basis : (100% - ($gutter * ($grid-columns / $col - 1))) / ($grid-columns / $col);
			} @else if $gutter and unitless($gutter) == false {
				$flex-basis : calc(#{$flex-basis} - #{$gutter * ($grid-columns / $col - 1) / ($grid-columns / $col)});
			}
		}

		@if $col-offset and unit($col-offset) == "%" {
			$flex-basis : $flex-basis + $col-offset;
		} @else if $col-offset and unitless($col-offset) == false {
			$flex-basis : calc(#{$flex-basis} + #{$col-offset});
		}
	} @else if type-of($col) == number and unitless($col) == false {
		$flex-grow   : 0;
		$flex-shrink : 0;
		$flex-basis  : $col;
	} @else if type-of($col) == string and $col == "auto" {
		// flex: auto;
		$flex-grow   : 1;
		$flex-shrink : 1;
		$flex-basis  : auto;
	} @else if type-of($col) == string and $col == "equal" {
		// flex: 1;
		$flex-grow   : 1;
		$flex-shrink : 1;
		$flex-basis  : 0;
	} @else if type-of($col) == string and $col == "none" {
		// flex: none;
		$flex-grow   : 0;
		$flex-shrink : 0;
		$flex-basis  : auto;
	} @else if type-of($col) == string and $col == "initial" {
		// flex: initial;
		$flex-grow   : 0;
		$flex-shrink : 1;
		$flex-basis  : auto;
	} @else if type-of($col) == string and $col == "positive" {
		// positive number
		@if $flex-grow == 0 {
			$flex-grow : 1;
		}
		$flex-shrink : 0;
		$flex-basis  : 0;
	}

	@if type-of($shorthand) == bool and $shorthand == true {
		flex        : $flex-grow $flex-shrink $flex-basis;
	} @else {
		flex-basis  : $flex-basis;
		flex-grow   : $flex-grow;
		flex-shrink : $flex-shrink;
	}

	@if $align-self != null {
		align-self : $align-self;
	}

	@if type-of($order) == number {
		order : $order;
	}

	@if type-of($width) == bool and $width == true {
		width : $flex-basis;
	} @else if type-of($width) == number and unitless($width) == false {
		width : $width;
	} @else if type-of($width) == string and $width == "auto" {
		width : auto;
	}

	@content;
}

@mixin scrollStyle($direction-horizontal: false, $background : transparent, $margin : 0, $lock : true) {
	-webkit-overflow-scrolling : touch;
	scrollbar-width            : thin;
	overflow-y                 : auto;
	overflow-y                 : overlay;
	overflow-x                 : hidden;

	@if $lock {
		overscroll-behavior : contain;
	}


	&::-webkit-scrollbar-track {
		border-radius : 10px;
		background    : $background;
		margin        : $margin;
	}

	&::-webkit-scrollbar {
		background : transparent;
		@if $direction-horizontal {
			height      : 3px;
		} @else {
			width       : 3px;
			transition  : width .3s ease;
			will-change : width;
			@media screen and (min-width : $break-table) {
				width : 6px;
			}
			@media screen and (min-width : $break-desktop) {
				&:hover {
					width : 10px;
				}
			}
		}
	}

	&::-webkit-scrollbar-thumb {
		border           : none;
		border-radius    : 10px;
		background-color : rgba(#DDD, .25);

		&:active,
		&:hover {
			background-color : rgba(#DDD, .5);
		}
	}
	&::-webkit-scrollbar-corner {
		border-radius    : 10px;
		background-color : rgba(#DDD, .25);

		&:active,
		&:hover {
			background-color : rgba(#DDD, .5);
		}
	}

	.overflowscrolling & {
		overflow-y : scroll;
	}
}
