<section class="contacts section-offset">
	<div class="container">
		<h2 class="section-title contacts__title">
			Контакты
		</h2>
		<div class="contacts__grid">
			<div class="contacts__main">
				<h3 class="contacts__subtitle">
					Свяжитесь любым удобным способом
				</h3>
				<div class="contacts__text">
					<p>
						Мы всегда готовы помочь вам с выбором и ответить на все ваши вопросы
					</p>
				</div>
			</div>
			<div class="contacts__item">
				<div class="contacts__name">
					Телефон
				</div>
				<a href="79990009900">+7 (999) 000-99-00</a>
			</div>
			<div class="contacts__item">
				<div class="contacts__name">
					Реквизиты
				</div>
				<ul class="list-reset">
					<li>
						ИП Шагеева Фирдавс Салаховна
					</li>
					<li>
						ОГРНИП: 322169000022795
					</li>
					<li>
						ИНН: 166013424150
					</li>
				</ul>
			</div>
			<div class="contacts__item">
				<div class="contacts__name">
					Месседжеры
				</div>
				{% include '../../partial/site/social.twig' with {} only %}
			</div>
			<div class="contacts__item">
				<div class="contacts__name">
					График работы
				</div>
				<span>с 9:00 до 18:00</span>
			</div>
		</div>
	</div>
</section>
