<section class="guarantee section-offset">
	<div class="container">
		<div class="guarantee__wrapper">
			<div class="guarantee__left">
				<picture>
					<source srcset="images/home/guarantee/guaranteee.webp 1x, images/home/guarantee/guaranteee@2x.webp 1.3x"
					        type="image/webp">
					<source srcset="images/home/guarantee/guaranteee.jpg 1x, images/home/guarantee/guaranteee@2x.jpg 1.3x"
					        type="image/jpg">
					<img src="images/home/guarantee/guaranteee.jpg" width="476" height="560" alt="" loading="lazy">
				</picture>
			</div>
			<div class="guarantee__right">
				<div class="guarantee__wrap">
					<h3 class="guarantee__subtitle">
						<span>5 лет</span>
						<span>Даем гарантию</span>
					</h3>
					<div class="guarantee__text">
						Если в течение гарантийного срока возникнут какие-либо проблемы с кроватью, мы бесплатно заменим
						или отремонтируем ее
					</div>
				</div>
				<div class="guarantee__items">
					<div class="guarantee__item" data-anim="guarantee">
						<img src="images/home/guarantee/card-1.svg" width="259" height="301" alt="">
					</div>
					<div class="guarantee__item" data-anim="guarantee">
						<img src="images/home/guarantee/card-2.svg" width="258" height="295" alt="">
					</div>
					<div class="guarantee__item" data-anim="guarantee">
						<img src="images/home/guarantee/card-3.svg" width="281" height="292" alt="">
					</div>
				</div>
				{#                <div class="guarantee__img"> #}
				{#                    <picture> #}
				{#                        <source media="(min-width:767px)" #}
				{#                                srcset="images/home/guarantee/guaranteee-steps.webp 1x, images/home/guarantee/guaranteee-steps@2x.webp 1.3x" #}
				{#                                type="image/webp"> #}
				{#                        <source media="(min-width:767px)" #}
				{#                                srcset="images/home/guarantee/guaranteee-steps.png 1x, images/home/guarantee/guaranteee-steps@2x.png 1.3x" #}
				{#                                type="image/png"> #}
				{#                        <source srcset="images/home/guarantee/guaranteee-steps-mob.webp 1x, images/home/guarantee/guaranteee-steps-mob@2x.webp 1.3x" #}
				{#                                type="image/webp"> #}
				{#                        <source srcset="images/home/guarantee/guaranteee-steps-mob.png 1x, images/home/guarantee/guaranteee-steps-mob@2x.png 1.3x" #}
				{#                                type="image/png"> #}
				{#                        <img src="images/home/guarantee/guaranteee-steps-mob.png" alt="" loading="lazy"> #}
				{#                    </picture> #}
				{#                </div> #}
			</div>
		</div>
	</div>
</section>
