{% set companyReviews = [
	{
		'icon':'images/home/home-reviews/2gis.svg',
		'name':'2GIS',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/yandex.svg',
		'name':'Яндекс',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/avito.svg',
		'name':'Avito',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/ozon.svg',
		'name':'Ozon.ru',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/otzovik.svg',
		'name':'Отзовик',
		'rating':'5,0',
	},
	{
		'icon':'images/home/home-reviews/zoon.svg',
		'name':'Zoon',
		'rating':'5,0',
	},

] %}

{% set reviewsSlider = [
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
								хороший и
								плавный выдвижной механизм',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
	{
		'videoImg':'images/home/home-reviews/video-reviews',
		'videoLink':'https://youtu.be/e379lys7W-Y?si=yqIqVEhSLpcyke3P',
		'ratings':[
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		},
		{
			'star':'<li><img src="images/icon/star.svg" alt="" width="16" height="16" loading="lazy"></li>'
		}
	],
		'name':'Данила Фирсов',
		'text':'Прекрасная кровать, отличного качества. В интерьере смотрится очень красиво. Есть
				удобные
				большие бельевые ящики, они не глубокие, но туда все помещается без проблем, очень
				хороший и
				плавный выдвижной механизм',
	},
] %}

<section class="home-reviews section-offset">
	<div class="container">
		<div class="home-reviews__top">
			<h2 class="section-title home-reviews__title">
				{{ reviewsTitle }}
			</h2>
			{% include '../../components/company-reviews.twig' with {
				companyReviews:companyReviews
			} only %}
		</div>
		<div class="home-reviews__wrapper" data-slider="slider-reviews">
			{% include '../../components/video-reviews.twig' with {
				reviewsSlider:reviewsSlider
			} only %}
		</div>
	</div>
</section>
