{% set productCard = [
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/eliza',
		'name':'Eliza',
		'currentPrice':'28 900₽',
		'oldprice':'48 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'eliza',
			'id': 'eliza-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'eliza',
			'id': 'eliza-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'eliza',
			'id': 'eliza-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'eliza',
			'id': 'eliza-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'eliza',
			'id': 'eliza-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'eliza',
			'id': 'eliza-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/molly',
		'name':'Molly',
		'currentPrice':'25 900₽',
		'oldprice':'45 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'molly',
			'id': 'molly-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'molly',
			'id': 'molly-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'molly',
			'id': 'molly-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'molly',
			'id': 'molly-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'molly',
			'id': 'molly-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'molly',
			'id': 'molly-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/eva',
		'name':'Eva',
		'currentPrice':'27 900₽',
		'oldprice':'47 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'eva',
			'id': 'eva-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'eva',
			'id': 'eva-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'eva',
			'id': 'eva-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'eva',
			'id': 'eva-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'eva',
			'id': 'eva-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'eva',
			'id': 'eva-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/bella',
		'name':'Bella',
		'currentPrice':'26 900₽',
		'oldprice':'46 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'bella',
			'id': 'bella-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'bella',
			'id': 'bella-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'bella',
			'id': 'bella-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'bella',
			'id': 'bella-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'bella',
			'id': 'bella-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/victoria',
		'name':'Victoria',
		'currentPrice':'33 900₽',
		'oldprice':'53 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'victoria',
			'id': 'victoria-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'victoria',
			'id': 'victoria-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'victoria',
			'id': 'victoria-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'victoria',
			'id': 'victoria-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/tiffany',
		'name':'Tiffany',
		'currentPrice':'25 900₽',
		'oldprice':'45 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'tiffany',
			'id': 'tiffany-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'tiffany',
			'id': 'tiffany-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'tiffany',
			'id': 'tiffany-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'tiffany',
			'id': 'tiffany-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'tiffany',
			'id': 'tiffany-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'tiffany',
			'id': 'tiffany-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/emma',
		'name':'Emma',
		'currentPrice':'25 900₽',
		'oldprice':'45 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'emma',
			'id': 'emma-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'emma',
			'id': 'emma-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'emma',
			'id': 'emma-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'emma',
			'id': 'emma-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'emma',
			'id': 'emma-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'emma',
			'id': 'emma-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/agata',
		'name':'Agata',
		'currentPrice':'22 900₽',
		'oldprice':'42 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'agata',
			'id': 'agata-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'agata',
			'id': 'agata-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'agata',
			'id': 'agata-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'agata',
			'id': 'agata-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'agata',
			'id': 'agata-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'agata',
			'id': 'agata-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
	{
		'label':'450+ оттенков ткани',
		'img':'images/home/home-catalog/jessy',
		'name':'Jessy',
		'currentPrice':'26 900₽',
		'oldprice':'46 000₽',
		'subname':'Размеры',
		"sizes": [
		{
			'name':'jessy',
			'id': 'jessy-90х200',
			'value':'90х200',
			'label': '90х200'
		},
		{
			'name':'jessy',
			'id': 'jessy-120х200',
			'value':'120х200',
			'label': '120х200'
		},
		{
			'name':'jessy',
			'id': 'jessy-140x200',
			'value':'140x200',
			'label': '140x200'
		},
		{
			'name':'jessy',
			'id': 'jessy-160x200',
			'value':'160x200',
			'label': '160x200'
		},
		{
			'name':'jessy',
			'id': 'jessy-180x200',
			'value':'180x200',
			'label': '180x200'
		},
		{
			'name':'jessy',
			'id': 'jessy-200x200',
			'value':'200x200',
			'label': '200x200'
		},
	]
	},
] %}

<section class="catalog-mini section-offset" id="catalog">
	<div class="container">
		<h2 class="section-title catalog-mini__title">
			{{ catalogTitle }}
		</h2>
		<div class="catalog-mini__grid">
			{% for item in productCard %}
				{% include '../../components/product-card.twig' with {
					item:item,
				} only %}
			{% endfor %}
		</div>
	</div>
</section>
