<section class="materials section-offset">
	<div class="container">
		<div class="materials__grid">
			<div class="materials__left">
				<picture>
					<source media="(min-width:1199px)"
					        srcset="images/home/materials/materials.webp 1x, images/home/materials/materials@2x.webp 1.3x"
					        type="image/webp">
					<source media="(min-width:1199px)"
					        srcset="images/home/materials/materials.jpg 1x, images/home/materials/materials@2x.jpg 1.3x"
					        type="image/jpg">
					<source media="(min-width:767px)"
					        srcset="images/home/materials/materials-tablet.webp 1x, images/home/materials/materials-tablet@2x.webp 1.3x"
					        type="image/webp">
					<source media="(min-width:767px)"
					        srcset="images/home/materials/materials-tablet.jpg 1x, images/home/materials/materials-tablet@2x.jpg 1.3x"
					        type="image/jpg">
					<source srcset="images/home/materials/materials-mob.webp 1x, images/home/materials/materials-mob@2x.webp 1.3x"
					        type="image/webp">
					<source srcset="images/home/materials/materials-mob.jpg 1x, images/home/materials/materials-mob@2x.jpg 1.3x"
					        type="image/jpg">
					<img src="images/home/materials/materials-mob.jpg" width="330" height="400" alt="" loading="lazy">
				</picture>
			</div>
			<div class="materials__right">
				<h3 class="materials__title">
					Лучшие материалы
				</h3>
				<div class="materials__text">
					<p>
						Наши каркасы изготавливаются из прочного металла или дерева, что обеспечивает долговечность и
						устойчивость мебели.
					</p>
					<p>
						Кроме того, мы уделяем особое внимание качеству фурнитуры. Все крепежные элементы и механизмы
						подъема надежно закреплены, что гарантирует отсутствие скрипов и других неприятных звуков при
						использовании кровати. Благодаря этому наши изделия отличаются высокой степенью комфорта и
						функциональности.
					</p>
				</div>
				<div class="materials__footer">
					<div class="materials__wrap materials__wrap--text">
						Делаем качественно
					</div>
					<div class="materials__wrap materials__wrap--icon">
						<img src="images/icon/star-black.svg" alt="" width="20" height="20">
					</div>
					<div class="materials__wrap materials__wrap--text">
						Для вас
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
