<section class="production section-offset">
	<div class="container">
		<div class="production__wrapper">
			<div class="production__head">
				<h2 class="production__title">
					У нас собственное открытое производство
				</h2>
				<div class="production__wrap">
					<div class="production__text production__text--top">
						Демонстрируем нашу приверженность качеству и обеспечиваем уверенность в выборе клиента
					</div>
				</div>
			</div>
			<div class="production__grid">
				<div class="production__item">
					<div class="production__top production__top--blue">
						<div class="production__icon">
							<svg width="21" height="21" viewBox="0 0 21 21" fill="none"
							     xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M10.3322 1.54503C10.4443 1.51232 10.5633 1.51234 10.6754 1.54507L18.0188 3.69023C18.2799 3.7665 18.4594 4.0059 18.4594 4.27791V8.67712C18.4594 13.5646 15.3316 17.9035 10.6948 19.4485C10.5692 19.4904 10.4334 19.4904 10.3078 19.4485C5.66975 17.9036 2.54102 13.5637 2.54102 8.67508V4.27791C2.54102 4.00584 2.72056 3.76641 2.98174 3.69018L10.3322 1.54503ZM3.76551 4.73702V8.67508C3.76551 12.9682 6.47006 16.787 10.5012 18.2202C14.5312 16.787 17.2349 12.9691 17.2349 8.67712V4.7369L10.5036 2.77056L3.76551 4.73702Z"
								      fill="#333333"/>
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M15.0146 7.41419C15.2537 7.65328 15.2537 8.04093 15.0146 8.28003L10.1167 13.178C9.87757 13.4171 9.48992 13.4171 9.25082 13.178L6.39368 10.3208C6.15458 10.0818 6.15458 9.6941 6.39368 9.455C6.63277 9.21591 7.02043 9.21591 7.25952 9.455L9.68374 11.8792L14.1488 7.41419C14.3879 7.17509 14.7755 7.17509 15.0146 7.41419Z"
								      fill="#333333"/>
							</svg>
						</div>
						<div class="production__name">
							Гарантируем качество
						</div>
					</div>
					<div class="production__text production__text--bottom">
						Строгий контроль качества на каждом этапе производства позволяет гарантировать, что каждая
						кровать соответствует высоким стандартам
					</div>
				</div>
				<div class="production__slider" data-slider="slider-production">
					<div class="swiper swiper--production">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="production__img">
									<picture>
										<source srcset="images/home/production/production.webp 1x, images/home/production/production@2x.webp 1.3x"
										        type="image/webp">
										<source srcset="images/home/production/production.jpg 1x, images/home/production/production@2x.jpg 1.3x"
										        type="image/jpg">
										<img src="images/home/production/production.jpg" width="360" height="269" alt=""
										     loading="lazy">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="production__img">
									<picture>
										<source srcset="images/home/production/production.webp 1x, images/home/production/production@2x.webp 1.3x"
										        type="image/webp">
										<source srcset="images/home/production/production.jpg 1x, images/home/production/production@2x.jpg 1.3x"
										        type="image/jpg">
										<img src="images/home/production/production.jpg" width="360" height="269" alt=""
										     loading="lazy">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="production__img">
									<picture>
										<source srcset="images/home/production/production.webp 1x, images/home/production/production@2x.webp 1.3x"
										        type="image/webp">
										<source srcset="images/home/production/production.jpg 1x, images/home/production/production@2x.jpg 1.3x"
										        type="image/jpg">
										<img src="images/home/production/production.jpg" width="360" height="269" alt=""
										     loading="lazy">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="production__img">
									<picture>
										<source srcset="images/home/production/production.webp 1x, images/home/production/production@2x.webp 1.3x"
										        type="image/webp">
										<source srcset="images/home/production/production.jpg 1x, images/home/production/production@2x.jpg 1.3x"
										        type="image/jpg">
										<img src="images/home/production/production.jpg" width="360" height="269" alt=""
										     loading="lazy">
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="production__item">
					<div class="production__top production__top--green">
						<div class="production__icon">
							<svg width="21" height="21" viewBox="0 0 21 21" fill="none"
							     xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M1.5415 2.1665C1.5415 1.82133 1.82133 1.5415 2.1665 1.5415H7.1665C7.51168 1.5415 7.7915 1.82133 7.7915 2.1665V16.3332C7.7915 18.0591 6.39239 19.4582 4.6665 19.4582C2.94061 19.4582 1.5415 18.0591 1.5415 16.3332V2.1665ZM2.7915 2.7915V16.3332C2.7915 17.3687 3.63097 18.2082 4.6665 18.2082C5.70203 18.2082 6.5415 17.3687 6.5415 16.3332V2.7915H2.7915Z"
								      fill="#333333"/>
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M15.2849 1.5415C15.4508 1.54144 15.6098 1.60729 15.7271 1.72456L19.2688 5.26623C19.5128 5.51031 19.5128 5.90603 19.2688 6.15011L6.87602 18.5429C6.63195 18.7869 6.23622 18.7869 5.99214 18.5429C5.74806 18.2988 5.74806 17.9031 5.99214 17.659L17.9429 5.70817L15.2855 3.05072L7.60857 10.7392C7.36467 10.9835 6.96894 10.9838 6.72468 10.7399C6.48042 10.496 6.48012 10.1003 6.72402 9.85602L14.8429 1.7249C14.9601 1.60754 15.1191 1.54157 15.2849 1.5415Z"
								      fill="#333333"/>
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M10.0774 13.8335C10.0774 13.4883 10.3572 13.2085 10.7024 13.2085H18.8335C19.1787 13.2085 19.4585 13.4883 19.4585 13.8335V18.8335C19.4585 19.1787 19.1787 19.4585 18.8335 19.4585H5.7085C5.36332 19.4585 5.0835 19.1787 5.0835 18.8335C5.0835 18.4883 5.36332 18.2085 5.7085 18.2085H18.2085V14.4585H10.7024C10.3572 14.4585 10.0774 14.1787 10.0774 13.8335Z"
								      fill="#333333"/>
							</svg>
						</div>
						<div class="production__name">
							Лучшие материалы
						</div>
					</div>
					<div class="production__text production__text--bottom">
						Мы используем экологически чистые материалы, чтобы обеспечить максимальный комфорт и
						долговечность нашей продукции
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
