<section class="review section-offset" data-slider="slider-review">
	<div class="container">
		<h2 class="section-title review__title">
			Обзор кроватей от Relax
		</h2>
		<div class="review__wrapper">
			<div class="swiper swiper--review">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="review-item">

						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-item">

						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-item">

						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-item">

						</div>
					</div>
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</div>
</section>
