.s-block {
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : space-between;
	align-items     : center;

	a {
		margin-right : 25px;
		display      : block;
		transition   : opacity .3s ease;
		@include hide-text;

		&:last-child {
			margin-right : 0;
		}

		&:hover {
			opacity : .8;
		}

		&:after {
			content : '';
			display : block;
		}
	}
}